<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<h1>Add a Pokemon : </h1>

<div id='show-container'>
  <form action='/pokemon' method='POST'>
    <label for='name'>Name : </label>
    <input type='text' name='name'/>
    <label for='trainer_id'>Trainer Id : </label>
    <input type='number' name='trainer_id'/>
    <label for='cp'>Combat Power : </label>
    <input type='number' name='cp'/>
    <input type='submit' value='add pokemon' />
  </form>
</div>
